<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pijus.chemijosprojektas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".vonioszele1" />
        <activity android:name=".vonioszele2" />
        <activity android:name=".kauke1" />
        <activity android:name=".kauke2" />
        <activity android:name=".unknown1" />
        <activity android:name=".unknown2" />
        <activity android:name=".balzamas1" />
        <activity android:name=".balzamas2" />
        <activity android:name=".losjonas1" />
        <activity android:name=".losjonas2" />
        <activity android:name=".dezodorantas1" />
        <activity android:name=".dezodorantas2" />
        <activity android:name=".pasta1" />
        <activity android:name=".pasta2" />
        <activity android:name=".balinamoji1" />
        <activity android:name=".balinamoji2" />
        <activity android:name=".avizos1" />
        <activity android:name=".avizos2"></activity>
    </application>

</manifest>