<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pijus.chemijosprojektas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Quantity.vonioszele1" />
        <activity android:name=".PossibleAmount.vonioszele2" />
        <activity android:name=".Quantity.kauke1" />
        <activity android:name=".PossibleAmount.kauke2" />
        <activity android:name=".Quantity.unknown1" />
        <activity android:name=".PossibleAmount.unknown2" />
        <activity android:name=".Quantity.balzamas1" />
        <activity android:name=".PossibleAmount.balzamas2" />
        <activity android:name=".Quantity.losjonas1" />
        <activity android:name=".PossibleAmount.losjonas2" />
        <activity android:name=".Quantity.dezodorantas1" />
        <activity android:name=".PossibleAmount.dezodorantas2" />
        <activity android:name=".Quantity.pasta1" />
        <activity android:name=".PossibleAmount.pasta2" />
        <activity android:name=".Quantity.balinamoji1" />
        <activity android:name=".PossibleAmount.balinamoji2" />
        <activity android:name=".Quantity.avizos1" />
        <activity android:name=".PossibleAmount.avizos2"></activity>
    </application>

</manifest>