<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.pijus.chemijosprojektas.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.vonioszele1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.vonioszele2" />
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.kauke1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.kauke2" />
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.unknown1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.unknown2" />
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.balzamas1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.balzamas2" />
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.losjonas1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.losjonas2" />
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.dezodorantas1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.dezodorantas2" />
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.pasta1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.pasta2" />
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.balinamoji1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.balinamoji2" />
        <activity android:name="com.example.pijus.chemijosprojektas.Quantity.avizos1" />
        <activity android:name="com.example.pijus.chemijosprojektas.PossibleAmount.avizos2"/>
    </application>

</manifest>